*.o
*.a
*.dll
*.so
*.dylib
/hwTestSuite/*.bin
/hwTestSuite/*.grc
/hwTestSuite/*.prc
/hwTestSuite/TstSuite
/hwTestSuite/TstSuite-sections.s
/hwTestSuite/TstSuite-sections.ld
/libretroBuildSystem/obj
/libretroBuildSystem/libs
/qtBuildSystem/build-Mu-*
/localTester/build-LocalTester-*
