*.o
*.a
*.dll
*.so
*.dylib
*.pro.user
*_emscripten.bc
/libretroBuildSystem/obj
/libretroBuildSystem/libs
/qtBuildSystem/build-Mu-*
/tools/palm/hwTestSuite/*.bin
/tools/palm/hwTestSuite/*.grc
/tools/palm/hwTestSuite/*.prc
/tools/palm/hwTestSuite/TstSuite
/tools/palm/hwTestSuite/TstSuite-sections.s
/tools/palm/hwTestSuite/TstSuite-sections.ld
/tools/palm/muExpansionDriver/devStuff/*
/tools/palm/muExpansionDriver/*.bin
/tools/palm/muExpansionDriver/*.grc
/tools/palm/muExpansionDriver/*.prc
/tools/palm/muExpansionDriver/muExpDriver
/tools/palm/muExpansionDriver/blobs/*.S68
/tools/palm/muExpansionDriver/blobs/*.L68
/tools/desktop/build-BufferGraphViewer-*
/tools/desktop/build-MakePalmBitmap-*
/tools/desktop/export16BitImageProperly/convert