*.o
*.a
*.dll
*.so
*.dylib
*.pro.user
/hwTestSuite/*.bin
/hwTestSuite/*.grc
/hwTestSuite/*.prc
/hwTestSuite/TstSuite
/hwTestSuite/TstSuite-sections.s
/hwTestSuite/TstSuite-sections.ld
/libretroBuildSystem/obj
/libretroBuildSystem/libs
/qtBuildSystem/build-Mu-*
/tools/build-BufferGraphViewer-*
/tools/build-MakePalmIcon-*
